%header
  .wrapper
    %nav
      = link_to "The<span>Goods</span>Life".html_safe, '#', class: 'logo'
      %ul
        %li
          %fieldset.search-form
            %input{type: 'text', placeholder: 'Search'}
            %input{type: 'submit'}
        %li= link_to 'Offer', '#', class: 'selected'
        %li= link_to 'Browse', '#'
        %li= link_to 'Account', '#'