%header
  %nav
    = link_to 'TheGoodsLifes', '#', class: 'logo'
    %fieldset
      %input{type: 'text'}
      %input{type: 'submit'}
    %ul
      %li= link_to 'Offer', '#'
      %li= link_to 'Browse', '#'
      %li= link_to 'Account', '#'