%article.step.milestone.jsMilestone{'data-img'=> step.photo_url, 'data-lat'=> step.lat, 'data-long'=> step.long, 'data-href' => step_path(step)}
  = image_tag step.owner.photo_url, class: 'profil-pic'
  .date= step.affected_date.strftime("%Y")

  %h4.title Milestone
  .by #{user_link(step.owner)}
  %p= step.message
