@import "mixins";

@mixin button(){
  @include inline-block();
	height:20px;
	line-height:20px;
	padding:7px 15px 8px 15px;
	border:0;
  font-size:14px;
	font-weight:400;
  text-decoration:none;
	text-transform:uppercase;
  color:#fff;
  @include border-radius(3px);
  cursor:pointer !important;
}

.saumon-btn{
	@include button();
	background:$saumon;
}

.big-btn{
	display:block;
	margin-top:10px;
	height:45px;
	line-height:45px;
	padding:0;
	border:0;
	font-size:14px;
	font-weight:700;
  text-decoration:none;
	text-transform:uppercase;
  color:#fff;
	text-align:center;
  @include border-radius(3px);
	background:#ff3332;
	&.disable{
		background:#aaa;
	}
}

input{
	&.saumon-btn{
		height:35px;
		padding:0 15px;
	}
}