$saumon: #F9765C;
$saumon_leclerc: #ff8670;
$saumon_lidl: #fdd5ce;
$saumon_fume: #d85a40;

$gray_text: #777777;
$black_text: #222;
$placeholder_text: #bbb;

$gray_border: #bbbbbb;

$blue_location: #1b72e4;
