$saumon: #ff674c;
$saumon_leclerc: #ff8670;
$saumon_lidl: #ffb8ac;
$saumon_fume: #d85a40;

$gray_text: #777777;
$black_text: #222;
$placeholder_text: #bbb;

$gray_border: #bbbbbb;

$blue_location: #1b72e4;
