@import "compass/reset";
@import "mixins";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800);

body {
	font-family:'Open Sans',Helvetica,Arial,sans-serif;
	font-weight:400;
	font-size:12px;
	color:$gray_text;
}

input:focus{
   outline:0;
}

.none{
	display:none;
}

.wrapper{
	width:860px;
	margin:0 auto;
}