@import "mixins";

.single-good{
	@include clearfix();
	.good-header{
		z-index:100;
		position:absolute;
		top:105px;
		right:0;
		left:0;
		padding-top:20px;
		background:#fff;
		@include clearfix();
		@include transition(box-shadow 0.2s linear);
		.photos{
			width:500px;
			.big-photo{
				width:500px;
				height:400px;
				margin-bottom:10px;
				@include coverBg();
				@include border-radius(2px);
				@include transition(height 0.2s linear);
			}
			.photos-list{
				@include clearfix();
				width:500px;
				height:45px;
				overflow:hidden;
				overflow-x:auto;
				@include transition(height 0.2s linear);
				.photo{
					float:left;
					width:45px;
					height:45px;
					margin-right:10px;
					@include coverBg();
					@include border-radius(2px);
					cursor:pointer;
				}
			}
		}
		.map{
			position:relative;
			width:340px;
			height:400px;
			background:#3bb2d0;
			@include border-radius(2px);
			overflow:hidden;
			@include transition(height 0.2s linear);
			#jsMap{
				position:absolute;
				top:0;
				left:0;
				width:340px;
				height:400px;
				@include transition(top 0.2s linear);
			}
		}
	}
	.good-content{
		margin-top: 525px;
		@include transition(margin-top 0.2s linear);
		h1{
			font-size:30px;
			font-weight:800;
		}
		p{
			line-height:16px;
		}
		h2{
			color:$black_text;
			font-size:14px;
			font-weight:700;
			padding-bottom:10px;
			margin-bottom:10px;
			text-transform:uppercase;
			border-bottom:1px solid $gray_border;
		}
		h3{
			margin:20px 0 3px 0;
			text-transform:uppercase;
			font-size:14px;
			font-weight:700;
		}
		.owner-tab{
			position:relative;
			margin-bottom:20px;
			padding-left:50px;
			height:40px;
			.profil-pic{
				position:absolute;
				top:0;
				left:0;
				width:40px;
				height:40px;
				@include border-radius(50%);
			}
			.name{
				display:block;
				font-size:14px;
				font-weight:700;
				text-decoration:none;
				color:$black_text;
				padding-top:1px;
			  a{
				display:block;
				font-size:14px;
				font-weight:700;
				text-decoration:none;
				color:$black_text;
				padding-top:5px;
				}
			}
			.location{
				margin-top:3px;
				color:$blue_location;
				text-transform:uppercase;
			}
		}
		.step{
			position:relative;
			margin-bottom:20px;
			padding-left:40px;
			min-height:40px;
			cursor:default;
			&.hovered{
				background:#efefef;
				margin:-7px -7px 13px -7px;
				padding:7px 7px 7px 47px;
				@include border-radius(5px);
				.profil-pic{
					top:7px;
					left:7px;
				}
				.date{
					top:7px;
					right:7px;
				}
			}
			.profil-pic{
				position:absolute;
				top:0;
				left:0;
				width:30px;
				height:30px;
				@include border-radius(50%);
			}
			.date{
				position:absolute;
				top:0;
				right:0;
				color:#000;
			}
			.title{
				color:#ef8e00;
				font-size:14px;
				font-weight:700;
				margin-bottom:4px;
			}
			.by{
				font-size:12px;
				color:$black_text;
				margin-bottom:4px;
				text-transform:uppercase;
				a{
					color:$black_text;
					text-decoration:none;
				}
			}
		}
	}
	&.blocked{
		.good-header{
			position:fixed;
			top:-10px;
			@include box-shadow(0 1px 3px rgba(0,0,0,0.2));
			.photos{
				.big-photo{
					height:250px;
				}
				.photos-list{
					height:0;
				}
			}
			.map{
				height:195px;
				#jsMap{
					top:-102px;
				}
			}
		}
		.good-content{
			margin-top: 450px;
			margin-bottom:200px;
		}
	}
}
.marker-image{
	position: absolute;
	margin: -8px 0 0 -8px;
}