@import "mixins";

body > header{
	z-index:200;
	height:35px;
	padding:20px 0;
	margin-bottom:50px;
	background:$saumon;
	@include box-shadow(0 0 5px rgba(0,0,0,0.3));
	nav{
		.logo{
			float:left;
			line-height:35px;
			font-size:23px;
			font-family:'Lato',Helvetica,Arial,sans-serif;
			font-weight:400;
			color:$saumon_lidl;
			text-decoration:none;
			span{
				color:#fff;
				font-weight:900;
			}
		}
		ul{
			float:right;
			li{
				float:left;
				position:relative;
				a{
					display:inline-block;
					line-height:35px;
					font-size:14px;
					font-weight:700;
					text-transform:uppercase;
					padding:0 15px;
					margin-right:30px;
					text-decoration:none;
					color:$saumon_lidl;
					@include border-radius(3px);
					@include transition-property(background, color);
					@include transition-duration(0.1s);
					@include transition-timing-function(linear);
					&.selected, &:hover{
						background:$saumon_fume;
					}
					&:hover{
						color:#fff;
					}
				}
				&:last-child a{
					margin-right:0;
				}
				&.dropdown{
					&:hover{
						a{
							@include border-bottom-radius(0);
						}
						ul{
							display:block;
							background:$saumon_fume;
						}
						&> a{
							background:$saumon_fume;
						}
					}
					ul{
						z-index:300;
						display:none;
						position:absolute;
						top:35px;
						right:0;
						padding-bottom:7px;
						background:none;
						@include border-bottom-radius(3px);
						@include border-top-left-radius(3px);
						li{
							float:none;
							text-align:right;
							a{
								background:none;
							}
						}
					}
				}
				fieldset{
					input[type=text]{
						height:35px;
						width:60px;
						line-height:20px;
						font-size:14px;
						font-weight:700;
						padding:0 15px;
						margin-right:30px;
						text-decoration:none;
						color:$saumon_lidl;
						@include border-radius(3px);
						border:0;
						background:$saumon;
						@include transition-property(width, background, color);
						@include transition-duration(0.1s);
						@include transition-timing-function(linear);
						&:focus{
							width:200px;
							padding:0 8px;
							background:#fff !important;
							color:$saumon !important;
							&::-webkit-input-placeholder {
								color:#fff;
							}
						}
						&::-webkit-input-placeholder {
							color:$saumon_lidl;
							text-transform:uppercase;
						}
						&:hover{
							cursor:pointer;
							background:$saumon_fume;
							&::-webkit-input-placeholder {
								color:$saumon_lidl;
								color:#fff;
							}
						}
					}
					input[type=submit]{
						display:none;
						margin:0;
						padding:0;
						height:35px;
						width:35px;
						text-indent:100px;
						line-height:35px;
						overflow:hidden;
						border:0;
						background: url(image-path('search-icon.png')) center center no-repeat;
					}
				}
			}
		}
	}
}