@import "compass";
@import "color";

@mixin clearfix(){
  *height: 1%;
  &:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

@mixin coverBg(){
	background-position:center center;
	-webkit-background-size:cover;
	background-repeat:no-repeat;
}