@import "mixins";

.search-page{
	&.wrapper{
		width:880px;
	}
	h1{
		text-align:center;
		font-size:26px;
		font-weight:800;
		span{
			font-weight:400;
		}
	}
	.goods{
		@include clearfix();
		margin-top:50px;
		.good{
			float:left;
			width:200px;
			height:280px;
			margin:0 10px 40px 10px;
			cursor:pointer;
			.graphic{
				position:relative;
				width:200px;
				height:230px;
				overflow:hidden;
				background:#888;
				margin-bottom:10px;
				@include border-radius(2px);
				.photo{
					position:absolute;
					top:0;
					left:0;
					width:200px;
					height:230px;
					@include coverBg();
					@include border-radius(2px);
				}
				.map{
					position:absolute;
					top:230px;
					left:0;
					height:75px;
					background:#3bb2d0;
					opacity:0;
					@include border-bottom-radius(2px);
					@include transition-property(top, opacity);
					@include transition-duration(0.15s);
					@include transition-timing-function(ease-out);
				}
			}
			&:hover{
				.graphic{
					.map{
						opacity:1;
						top:155px;
					}
				}
			}
			header{
				h2{
					color:$black_text;
					font-size:15px;
					font-weight:700;
					margin-bottom:3px;
					a{
						color:$black_text;
						text-decoration:none;
					}
				}
			}
			.stats{
				color:$gray_text;
				font-weight:13px;
				font-weight:400;
				.stat{
					display:inline;
					span{
						font-weight:700;
					}
					&:after{
						content:' •';
					}
					&:last-child{
						&:after{
							content:'';
						}
					}
				}
			}
		}
	}
}