@import "mixins";

.user-header{
	position:relative;
	padding:0 215px 0 115px;
	min-height:100px;
	margin-bottom:80px;
	.profile-pic img{
		position:absolute;
		top:50%;
		margin-top:-50px;
		left:0;
		width:100px;
		height:100px;
		@include border-radius(50%);
	}
	h1{
		font-size:30px;
	}
	.bio{
		line-height:16px;
		margin-bottom:5px;
	}
	.location{
		color:$blue_location;
		text-transform:uppercase;
	}
	.score{
		position:absolute;
		top:50%;
		margin-top:-50px;
		right:0;
		height:100px;
		width:100px;
		line-height:100px;
		color:#fff;
		text-align:center;
		font-size:45px;
		font-weight:800;
		background:#98deee;
		@include border-radius(2px);
	}
}
.user-lists{
	position:relative;
	&:before{
		position:absolute;
		content:'';
		top:65px;
		right:0;
		left:0;
		height:1px;
		background-image: -webkit-gradient(radial, 50% 50%,0,50% 50%,200, from(rgba(255, 255, 255, 0.00)), to(rgba(211, 211, 211, 1.00)));
		background-image: -webkit-radial-gradient(50% 50%, rgba(211, 211, 211, 1.00), rgba(255, 255, 255, 0.00));
		background-image: -moz-radial-gradient(50% 50%, rgba(211, 211, 211, 1.00), rgba(255, 255, 255, 0.00));
		background-image: -o-radial-gradient(50% 50%, rgba(211, 211, 211, 1.00), rgba(255, 255, 255, 0.00));
		background-image: -ms-radial-gradient(50% 50%, rgba(211, 211, 211, 1.00), rgba(255, 255, 255, 0.00));
		background-image: radial-gradient(50% 50%, rgba(211, 211, 211, 1.00), rgba(255, 255, 255, 0.00));
	}
	.list{
		float:left;
		width:250px;
		margin-right:55px;
		&:last-child{
			margin-right:0;
		}
		.count{
			text-align:center;
			margin-bottom:45px;
			.data-value{
				@include inline-block();
				color:$black_text;
				font-size:42px;
				font-weight:700;
				text-align:right;
			}
			.data-label{
				@include inline-block();
				text-align:left;
				font-size:14px;
				line-height:16px;
				font-weight:600;
				text-transform:uppercase;
			}
		}
		ol{
			@include clearfix();
			width:260px;
			margin-right:-10px;
			li{
				float:left;
				width:120px;
				height:120px;
				overflow:hidden;
				margin:0 10px 10px 0;
				.photo{
					display:block;
					width:120px;
					height:120px;
					@include border-radius(2px);
					@include coverBg();
				}
			}
		}
	}
}